.pools__container {
    width: 100%;
    max-width: 980px;
    position: relative;
    margin: auto;
}

.pools__heading .pools__container{
    background: #250989;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pools__heading p {
    letter-spacing: 1.2px;
    font-weight: 600;
}
.pools__heading span {
    cursor: pointer;
}

.pools__content {
    background: #111112;
    display: flex;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 600ms ease-in-out;
}

.pools__content.show {
    height: 200px;
    opacity: 1;
}
.pools__croxx{
    cursor: pointer;
    position: absolute;
    right: 20px;
}
