.pools__container {
    width: 100%;
    max-width: 980px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.pools__container span {
    font-size: 100px;
    color: #D83249;
}

.pools__heading .pools__container {
    background: #250989;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pools__heading {
    justify-content: center;
}

.pools__heading span {
    cursor: pointer;
}

.pools__content {
    background: #130545;
    width: 980px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.pools__content-wrapper {
    height: 0;
    transition: all 600ms ease-in-out;
    opacity: 0;
    display: flex;
    justify-content: center;
}
.pools__content-wrapper.show {
    height: 300px;
    opacity: 1;
}

.pools__wrapper {
    overflow: auto;
}
.pools__wrapper::-webkit-scrollbar-thumb:vertical
{
    background-color: #250989;
    position: absolute;
}

.pools__croxx {
    cursor: pointer;
    position: absolute;
    right: 20px;
    transition: all 600ms ease-in-out;
}

.pools__croxx.X {
    transform: rotate(-45deg);
}
