.pools__container {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.pools__heading .pools__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pools__content {
    background: #130545;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.pools__content-wrapper {
    height: 0;
    transition: all 600ms ease-in-out;
    opacity: 0;
    display: grid;
    grid-template-columns: 5.5fr 1fr;
    justify-content: center;
}
.pools__content-wrapper.show {
    height: 420px;
    opacity: 1;
}

.row__croxx {
    cursor: pointer;
    transition: all 600ms ease-in-out;
}

.row__croxx.X {
    transform: rotate(-45deg);
}

.pool__chart {
    display: flex;
    justify-content: center;
}

.info-space {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-content: center;
}
.fomo-space {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: #D83249 solid 1px;
    border-bottom: #D83249 solid 1px;
}
.info-space__clickable {
    color: #D83249;
    cursor: pointer;
}

.pools__content-wrapper {
    display: grid;
    grid-template-columns: 5.5fr 1fr;
    background: #130545;
}

.periods__wrapper {
    border-bottom: #D83249 solid 1px;
    border-left: #D83249 solid 1px;
}

.periods__bar {
    width: 100%;
    display: flex;
    height: 30px;
    background: #250989;
}
