.row__grid {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr 1fr;
    min-height: 48px;
    align-content: center;
}

.row__wrapper {
    display: flex;
    justify-content: center;
}

.row__link {
    cursor: pointer;
}

.row__label-wrapper {
    cursor: default;
    background: #801518;
    border: 1px solid #D83249;
}

div {
    cursor: default;
}
