.App {
  background-color: #111112;
  color: #FFF;
  font-family: 'Overpass Mono', sans-serif;
  font-size: 24px;
  font-weight: 300;
  width: 100%;
  letter-spacing: .5px;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.__top {
  color: #D83249;
  display: flex;
  padding: 20px 0;
  justify-content: space-around;
  width: 100%;
}

hr {
  max-height: 1px;
  color: #D83249;
  width: 980px;
}
