.header__wrapper {
  background: #414142;
  width: 100%;
}

.header__content {
  background: #414142;
  color: #D83249;
  min-height: 48px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__white {
  color: #FFFFFF;
}

.header__wallet {
  cursor: pointer;
}

.header__connect-wallet {
  background: #801518;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  padding: 0 15px;
  height: 38px;
  border-radius: 4px;
  border-left: 1px solid #D83249;
  border-bottom: 1px solid #D83249;
  cursor: pointer;
}
